h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-size: 20px;
    text-align: center;
}

.index_main_box {
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 400px;
    width: 100%;
}


/*Navigation*/

.main_nav {
    background-color: #ca3614;
    width: 40%;
    margin: 0 auto;
    box-shadow: -3px 3px 8px black;
    border-radius: 3px;
}

.main_nav ul {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media(min-width:480px) {
    .main_nav {
        border-radius: 0;
        box-shadow: none;
        box-shadow: 0px 2px 5px black;
        width: 100%;
    }
    .main_nav ul {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: -2px 2px 1px black;
}

@media(min-width:480px) {
    .list a {
        margin-left: 8px;
        color: black;
        text-shadow: none;
    }
    .list a:hover {
        color: #ffff;
        text-shadow: -2px 2px 1px black;
    }
}

.main_info {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px dashed black;
    border-radius: 2px;
}

.main {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 95%;
}

@media(min-width:480px) {
    .main {
        max-width: 800px;
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*Footer*/

#footer {
    width: 100%;
    background-color: #ca3614;
    color: white;
    bottom: 0;
    margin-top: 50px;
}

@media(min-width:480px) {
    #footer {
        position: fixed;
        color: black;
    }
    #footer_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#sec_nav {
    display: none;
}

@media(min-width:480px) {
    #sec_nav {
        display: inline;
        text-align: center;
    }
}

#dev_info {
    font-size: 15px;
    text-shadow: -1px 1px 1px black;
}

@media(min-width:480px) {
    #dev_info {
        text-shadow: none;
        font-weight: bold;
        margin-top: 80px;
        margin-left: 20px;
        font-size: inherit;
    }
}